body {
  height: 100vh;
}
body, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main, header {
  width: calc(100% - (1rem * 2));
}
footer {
  width: 100%;
}
.main, header, .location {
  padding: 0 1rem;
}

header {
  padding-top: .75rem !important;
  padding-bottom: .75rem !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: small;
}

.services ul {
  display: flex;
  align-items: center;
}
.services li {
  padding-left: 1rem;
}
.services li a {
  color: rgba(0,0,0,0.87) !important;
  text-decoration: none;
}
.services li:hover a {
  text-decoration: underline;
}

.apps {
  display: flex;
  align-items: center;
}
.apps * {
  margin-left: 1rem;
}
.apps span {
  padding: .5rem;
  border-radius: 999px;
}
.apps span:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.apps .button-sign {
  padding: .75rem 1.5rem;
  background-color: #1a73e8;
  color: white;
  border-radius: 4px;
  font-size: 0.875rem;
  text-decoration: none;
}
.apps .button-sign:hover {
  box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main form {
  width: 100%;
}

.logo {
  padding-bottom: 1rem;
}

.search {
  padding: .25rem .875rem;
  border: 1px solid #dfe1e5;
  border-radius: 999px;
  background-color: white;
  display: flex;
  align-items: center;
  transition: all .25s;
}
.search:hover, .search-focused {
  border-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.search__icon {
  margin-right: .5rem;
  color: #9AA0A6;
  font-size: 1.25rem !important;
}
.search__input {
  height: 2rem;
  flex: 1 1 100%;
  border: none;
  line-height: 2rem;
}

.buttons {
  padding-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons__search {
  margin: .75rem .5rem;
  padding: .5rem 1rem;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #3c4043;
  font-size: small;
  transition: all .25s;
}
.buttons__search:hover {
  border: 1px solid #dadce0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #202124;
  cursor: pointer;
}

footer {
  background-color: #f2f2f2;
  color: #70757a;
  font-size: 0.875rem;
}

.location {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-bottom: 1px solid #dadce0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
}


.menus {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.menus li {
  padding: 1rem;
}
.menus a {
  color: inherit !important;
  text-decoration: none;
}
.menus li:hover a {
  text-decoration: underline;
}
.menus__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

#howSearchWorks {
  display: none;
}

@media only screen and (min-width: 768px) {
  .main form {
    max-width: 576px;
  }

  .buttons {
    padding-top: 1rem;
  }

  .location {
    justify-content: flex-start;
  }

  .menus {
    justify-content: space-between;
  }
  .menus__container {
    width: max-content;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    width: calc(100% - (2rem * 2));
  }
  header {
    width: calc(100% - (1rem * 2));
  }
  .main, .location {
    padding: 0 2rem;
  }
  header, .menus {
    padding: 0 1rem;
  }
  .main {
    padding-bottom: 12rem;
  }

  .logo {
    padding-bottom: 1.5rem;
  }

  .search {
    padding: .5rem .875rem;
  }
}
